.content {
    margin-left: 32px;
}
h1 {
    background-color: #183e73;
    color: white;
    font-family: "Open Sans";
    margin-left: 32px;
}
.head {
    background-color: #183e73;
    vertical-align: top;
}
h2, p {
    font-family: "Open Sans";
}
.dog-info {
    max-width: 30%;
    display: inline-block;
    padding-top: 8px;
    padding-right: 8px;
    vertical-align: top;
}
.dog-info > img {
    width: 100%;
}
h3 {
    font-family: "Oswald";
}
.tag {
    font-family: "Open Sans";
    background-color: #96cee2;
    border-radius: 8px;
    margin-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    display: inline-block;
}
footer span {
    display: fixed;
    min-width: 30%;
    background-size: cover;
}
.donate {
    background-image: url("images/donate.jpg");
}
.volunteer {
    background-image: url("images/volunteer.jpg");
}
.location {
    background-image: url("images/location.png");
}
footer span a {
    z-index: 1;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 32px;
    background-color: rgba(135, 76, 213, 0.349);
    text-align: center;
}